
 <ion-card>
 <ion-item lines="none" class="wallet-card animate__animated animate__bounceIn animate__faster"> 
  <img class="img-fluid " slot="start" src="assets/images/wallet1.svg" alt="" srcset="">
 <ion-label class="ml-2">
      <small class="text-muted text-bold">Wallet Balance</small>
      <p class="text-bold text-primary">N000</p>  
   </ion-label>
   <button class="btn btn-primary btn-sm pl-2 pr-2 p-1" [routerLink]="['/founding']" routerLinkActive="router-link-active"  slot="end" type="button">Found wallet</button>
 </ion-item>  
 </ion-card>