*{
    padding: 0px;
    margin: 0px;
}
.wallet-card{
  padding: 2% 0% 2% 0%;
  border-radius: 4px;
  box-shadow: 1px 2px #b9b9bd;
  --ion-item-background: linear-gradient(2deg, #fefeff 29%, #f8f9fe 96%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


  ion-icon{
      font-size: 40px;
  }
  .subtitle{
  }
  .title{
      font-weight: bold;
      font-size: 15px;
  }

  img{
      height: 40px;
      width: 40px;
  }
}
.text-bold{
    font-weight: bolder;
}