
<ion-header  class="ion-no-border  " no-border color="primary" >
  <ion-item  lines="none">  
    <ion-avatar  slot="start" style="height: 30px;width: 30px;">
      <img src="assets/images/profileimage.jpg">
      </ion-avatar> 
   <ion-label   class="name  animated fast fadeInLeft text-bold"> 
  
        <small [routerLink]="['/tabs/profile']" routerLinkActive="router-link-active" style=" font-weight: bolder;" class="text-primary">
          Hi john
        </small>
   </ion-label>
   <!-- <ion-img class="hearder-icon" (click)="menu()"src="assets/images/about.svg"></ion-img> -->
   
   <ion-menu-button></ion-menu-button>  
   </ion-item>
</ion-header>
