<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>productdetail</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <img src="assets/images/profileimage.jpg" alt="" srcset="">
     <p class="text-bold">Lorem ipsum dolor sit amet consectetur.</p>
     <small>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt ex cumque obcaecati. Quo, quidem dolore.
     </small>
</ion-list>
</ion-content>
