
<ion-header  class="ion-no-border ion-no-padding " no-border color="primary" >
  <ion-item  class="ion-no-border ion-no-padding " lines="none"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
     
    <ion-label      class="name  animated fast fadeInLeft text-bold"> 
      <small style="margin-left: 8px; font-weight: bolder;" class="text-primary">
        Profile
      </small>
 </ion-label>
 
   <ion-img class="hearder-icon" slot="end" (click)="menu()"src="assets/images/about.svg"></ion-img>
   
   </ion-item>
</ion-header>

<ion-content>
<div class="wrapper">

	
	<div class="profile">
		<img [src]=userImage (click)="uploadFile()" class="thumbnail">
		<!-- <div class="check"><i class="fas fa-check"></i></div> -->
		<p class="name">{{userDisplayName}}</p>
    <p class="title">{{status}}</p>
    <div class="text-center text-muted">
      <small>{{bio}}</small>
   		 </div>
      <div style="display: flex;justify-content: center;">
           <button  *ngIf="isCurrentUser" [routerLink]="['/wallet']"  type="button" class="btn mt-3">Wallet</button>
           <button  *ngIf="isCurrentUser" [routerLink]="['/edit']"  type="button" class="btn ml-1 mt-3">Edit</button>
           <button  *ngIf="!isCurrentUser &&  !isFollowing"  (click)=" followUser()" type="button" class="btn mt-3">Follow</button>
           <button  *ngIf="!isCurrentUser &&  isFollowing"  (click)=" followUser()" type="button" class="btn mt-3">Following</button>
        
      </div>
  	</div>
	<button class="btn btn-primary" [routerLink]="['/chat-view']" routerLinkActive="router-link-active" >message</button>
	<div class="social-icons ">
		<div class="icon">
			<!-- <a href="/"><i class="fab fa-dribbble"></i></a> -->
			<p>{{postNumber}}</p>
			<small>Post</small>
		</div>
		
		<div class="icon"  >
			<!-- <a href="#"><i class="fab fa-behance"></i></a> -->
			<p>{{followers}}</p>
			<small>Followers</small>
		</div>
		
		<div class="icon"  >
			<!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
			<p>{{following}}</p>
			<small>Following</small>
		</div>
  </div>

    <small class="text-bold">Following</small>
    <div class="text-muted text-center"*ngIf="following == 0" >
       <img src="assets/icon/sad-face.svg" 
       style="width:30px; height: 30px" alt="" srcset=""><br>
      <small class="text-muted"  >NO Following</small>
    </div>
    <section class="stories">
      <div class="stories__single"   *ngFor="let user of userFollowing" >
        <div class="stories__single__img-holder">
          <div class="stories__single__img-holder__inner" style="background-image: url('{{user.userImage}}');"></div>
        </div>
        <p class="stories__single__description">{{user.userName}}.</p>
      </div>
    </section>
   

    <small class="text-bold">Followers</small>
    <div class="text-muted text-center"*ngIf="followers == 0" >
      <img src="assets/icon/sad-face.svg" 
      style="width:30px; height: 30px" alt="" srcset=""><br>
     <small class="text-muted"  >NO Followers</small>
   </div>
      <section class="stories">
        <div class="stories__single"   *ngFor="let user of userFollowers" >
          <div class="stories__single__img-holder">
            <div class="stories__single__img-holder__inner" style="background-image: url('{{user.userImage}}');"></div>
          </div>
          <p class="stories__single__description">{{user.userName}}.</p>
        </div>
      </section>
     
    <small class="text-bold">Post</small>
    <br><br>
    <div class="text-muted text-center"*ngIf="!posts" >
      <img src="assets/icon/sad-face.svg" 
      style="width:30px; height: 30px" alt="" srcset="">
     <small class="text-muted"  >No post made</small>
   </div>
  <ion-row *ngFor="let post of posts"> 
    <ion-col size="2">
        <ion-avatar>
           <img [src]="post.authorimage" alt="Snow" class="post-user-image">
        </ion-avatar>      
    </ion-col>
    <ion-col size="10">
       <div class="card-headr">
        <ion-label class="card-name " > 
            <p style="margin-bottom: -10px;color: black;font-weight: 600;">{{post.author}}</p>
            <small class="text-muted" style="font-size: 10px;">{{post.createdDate}}</small>             
        </ion-label>
         <small style="float: right;" class=" text-primary"  *ngIf="isCurrentUser" (click)="getDetele(post.commentId)">Delete</small>
         
       </div>
       <div>
        <!-- <img src="assets/images/profileimage.jpg"  class="post-image mt-2 mb-2" alt="" srcset=""> -->
        <small class="mr-2 mt-3"> {{post.content}}</small>
     </div>
       <small [routerLink]="['/comment', post.commentId]"
        routerLinkActive="router-link-active"  class=" mt-2 text-primary">View post</small>
  <!-- <ion-row class= "my-card-footer pt-2 pb-2">
    <ion-col size="4" class="animated fast fadeInDown">
      <img  class="icon-ca" src="assets/icon/like.png" alt="" srcset="">
        <small class="ml-2"> {{post.likes}} </small> 
    </ion-col>
      <ion-col size="4" class="animated  fadeInDown">
        <img class="icon-ca" src="assets/icon/dislike.png" alt="" srcset="">
          <small class="ml-2">{{post.views}}</small>
      </ion-col>
      <ion-col size="4" class="animated faster fadeInDown"[routerLink]="[ '/comment' ]">
        <img  class="icon-ca" src="assets/icon/live.svg" alt="" srcset="">
        <small class="ml-2">  </small>
      </ion-col>
    </ion-row> -->
    </ion-col>

    </ion-row>
    </div>
</ion-content>
