<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/community"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <small>Post</small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="m-2">

  <ion-item lines="none">
  <ion-label position="floating" class="ion-no-padding"> 
   <small class="text-muted">
     What on your mind
   </small>
  
  </ion-label>

  <ion-textarea ></ion-textarea>
  </ion-item>  
  <ion-row class="mt-4">
    <ion-col size="3">
       <button class="upload-btn">
        <img src="assets/images/defaultimage.png">
      </button>
    </ion-col>
    <ion-col size="9">
      <button class="btn-image-uploade mb-2" fill="outline" size="small" >
        <ion-icon name="images" class="m-2"></ion-icon>
        <div>
          <small class="text-bold">Image or Gif</small><br>
          <small style="font-size: 10px;">PNG, JPG,GIF</small>
        </div>
        <!-- <input style="display: non" type="file" name="file">   -->
      </button>  
      
          
    </ion-col>
  </ion-row>
  </ion-list>
  
  <div class="ion-padding">
  <button class="btn btn-primary btn-block btn-outline" type="button">Post</button>
  </div>
</ion-content>
