<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <div slot="end" class="mr-2 mt-2">
      <small class="text-muted">Balance</small>
      <p class='text-bold'>N00.0</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="bg">
  <ion-item lines="none">
    <p class="text-bold">Church Store</p>
    <small slot="end">
    <ion-icon name="search"
    [routerLink]="['/searchproduct']" 
     color="primary"></ion-icon>
    </small>
  </ion-item>
  <ion-segment   (ionChange)="segmentChanged($event)" [(ngModel)]="segment" color="primary">  
    <ion-segment-button value="0">  
      <small class="text-bold">General</small>  
    </ion-segment-button>  
    <ion-segment-button value="1">  
      <small class="text-bold">Merchandise</small>  
    </ion-segment-button>  
    <ion-segment-button value="2">  
      <small class="text-bold">Books</small>  
    </ion-segment-button>  
  </ion-segment>  
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">  
    <ion-slide>
      <ion-row class="ion-margin">
    
        <ion-col size="6" >
          <ion-card [routerLink]="['/productdetail']" routerLinkActive="router-link-active"  class="product-card">
          <ion-item lines="none" class="ion-no-padding ion-no-margin">
            <small class="off">30%</small>
            <small slot="end"> <ion-icon  name="heart"></ion-icon></small>
            
          </ion-item>

          <img class="productimage" src="assets/storeImages/chruchbook.jpg" />
          <!-- <img class="productimage" src="assets/images/defaultimage.png"  alt="" srcset=""> -->
        <div class="text-left p-2">
              <p class="title ">The Salutation of The Angels </p>
             <p class="price">$10</p> 
    
          </div>

          </ion-card>
        </ion-col>
      </ion-row>
      </ion-slide>
      <ion-slide>
      </ion-slide>
      <ion-slide>
      </ion-slide> 
  </ion-slides>
 
</ion-content>
