<ion-header class="ion-no-border">
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button defaultHref="tabs/profile"></ion-back-button>
     </ion-buttons>
    <ion-title> <small>Edit</small> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <div style="text-align: center;">

      <img style="height: 100px;width: 100px;" src="assets//images//upload-icon.svg" alt="" srcset=""><br>
      <button class="btn btn-primary" type="button">Upload image</button>
    </div>
    <ion-item>
    <ion-label position="floating"><small>Full Name </small> </ion-label>
    <ion-input></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating"> <small>Password</small> </ion-label>
    <ion-input></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating"><small>Email</small> </ion-label>
    <ion-input></ion-input>
    </ion-item>
    <ion-item>
    <ion-label position="floating"><small>Phone</small></ion-label>
    <ion-input></ion-input>
    </ion-item>
    
    <br>
    <ion-button expand="full" >Update</ion-button>
  </ion-list>
</ion-content>
