<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title><small>  Founding</small></ion-title>
    <!-- <ion-icon  class="ion-margin"slot="end" (click)="close()"  name="close"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div  style="text-align: center;">
       <!-- <img class="img-fluid top-img" src="assets//images/fundwallet.jpg"> -->
    </div>
  
    <ion-card>
      <ion-item  class="coin-card" lines="none">
        <img src="assets//images//wallet1.svg" class ="icon" />
        <ion-label class="coin-amount ">
          <small class="sub-title">fund account with</small>
          <p class="title">N25,000  </p>  
        </ion-label>
        <button class="btn btn-primary btn-sm pl-3 pr-3" slot="end" >Pay</button> 
      </ion-item>       
    </ion-card>

 </ion-list>
</ion-content>
