
<ion-content>

  <ion-list class="container-image">
     <iframe 
     style="position: relative;"
     [src]="getLink('oU7nOwXpAdA')" 
     width = "100%" 
     height = "100%" 
     frameborder="0">
    Sorry your browser does not support inline frames.
   </iframe>  
   <div class="top-right">
<!-- wahala for who get ubuntu -->
   </div>
   <div class="bottom ">
     <ion-row>
       <ion-col size="2">
       <ion-avatar style="height: 40px;width: 40px;margin-left: 8px;">
         <img src="assets/images/profileimage.jpg" />
       </ion-avatar>
      </ion-col>
      <ion-col size="10"  >
       <div style="text-align: left;">
         <ion-label > <small class="title">ero osamuyi </small>
          <br>
          <small class="text-muted">lagos</small> </ion-label>
         <br>
         <small class="content"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, quaerat.</small>
       </div>
      </ion-col>
     </ion-row>
    <form class="commentsection">
      <input type="text" id="lname" placeholder="make comment" name="lname">
    
      <ion-icon class="icon" name="send"></ion-icon>
    
        <!-- <ion-icon color="light" class="icon" (click)="menu()" name="menu"></ion-icon> -->
   
    </form>
    
   </div>
  </ion-list>
  



</ion-content>
