<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">  
    <ion-header class="ion-no-border p-3" style="background-image: url(assets/icon/map.svg);">  
    <ion-spinner name="crescent" *ngIf="!nodata"></ion-spinner>
      <ion-thumbnail *ngIf="nodata" style="height: 50px;width: 50px; border-radius: 15px;">
      <img *ngIf="userImage" [src]= userImage/>
    </ion-thumbnail>
   <small 
   class="text-bold" 
   [routerLink]="['/tabs/profile',userId]" 
   *ngIf="nodata">{{userName}}</small>
    </ion-header>  
    <ion-content>  
      <ion-list *ngFor="let pages of navigate">  
        <ion-menu-toggle auto-hide="true">  
          <ion-item [routerLink]="pages.url" class="" lines=none routerDirection="forward">  
            <ion-img class="icon" [src]="pages.icon" slot="start"></ion-img>  
            <small class="ml-2 text-bold">
             {{pages.title}}  
            </small>  
          </ion-item> 
     
        </ion-menu-toggle>  
      </ion-list>  
     <ion-item (click)="logOut()" class="" lines=none  >  
            <ion-img class="icon" src="assets/icon/logout.svg" slot="start"></ion-img>  
            <small class="ml-2"> Logout</small>
            
          </ion-item>   
    </ion-content>  
    <!-- <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-item lines="none">
          <ion-avatar style="height: 40px;width: 40px;">
       <img src="assets/images/profileimage.jpg"  />
     </ion-avatar>   
     <ion-label class="ml-2">
        <small class="text-primary mt-2 text-bold">Hi ero osamuyi</small><br>

         <small class=" mt-2 text-bold text-muted">N000</small> -
      </ion-label> 
        
   </ion-item>

      </ion-toolbar>
    </ion-footer> -->
  </ion-menu>  

  <ion-router-outlet  Id="content"></ion-router-outlet>
</ion-app>
