<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>celebrationcard</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-list class="m-2">
    <p  style="margin-bottom: -2px;font-size: 40px; font-weight: bolder;width:70%;">
     Get a celebration card
    </p>
    <small class="text-bold text-muted w-80">Buy a celebration card for that special person</small>
    <br><br>
    <div>
        <app-mywallet></app-mywallet>
     </div>
     <ion-item>
     <ion-label position="floating"> <small>  username</small></ion-label>
     <ion-input></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating"><small>  Message</small> </ion-label>
      <ion-input></ion-input>
      </ion-item>
     
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
<ion-button expand="full" class="m-2" >Submit</ion-button>

  </ion-toolbar>
</ion-footer>
