<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>celebrationcard</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="assets/images/celebrationbanner.jpg" alt="" srcset="">
  <div class="alert alert-danger m-2" role="alert">
   <p class="alert-link">How is that speciale person you would like to celebrate</p> 
  </div>
  <ion-list class="bottom-div">
    <ion-item>
      <ion-label position="floating">person's name</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">message for user</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
<ion-button 
class="ion-padding ion-margin"
expand="full" color="danger" 
shape="round"  >Submit</ion-button>
<br>
  </ion-toolbar>
</ion-footer>
