<ion-header  class="ion-no-border  " no-border color="primary" >
  <ion-item  lines="none">  
    <ion-avatar slot="start" style="height: 30px;width: 30px;">
      <img src="assets/images/profileimage.jpg">
      </ion-avatar> 
   <ion-label      class="name  animated fast fadeInLeft text-bold"> 
  
        <small style="margin-left: 8px; font-weight: bolder;" class="text-primary">
          Hi johnkdfjk
        </small>
   </ion-label>
   
   </ion-item>
</ion-header>

<ion-content>
  <div>
    <iframe width="100%" height="145" src="https://www.youtube.com/embed/i8B6bV1RlwM">
    </iframe>
  </div>
  <!-- <img src="assets/images/youtubebanner.jpeg" style="width: 100%;height: 120px;object-fit: cover;" alt="" srcset=""> -->
 <ion-list>
  <ion-item class="ion-no-padding" lines='none'>
     <p class="font-weight-bold ml-2 text-dark">
      Popular
  </p>      
<small class="text-primary" slot="end" (click)="navTo('UC1M_QPZPhVNtBS8tMO885eQ')" >
  See All
</small>
  </ion-item>
  <div class="text-center">
    <ion-spinner color="primary" name="crescent" *ngIf="notNetwork"></ion-spinner>
  </div>
  <div classs="ion-padding" class="slider">
    <div  class="slide" *ngFor="let video of playlist" (click)=" openVideo(video)" >
      <div   style="width: 150px;">
        
        <ion-card  style="width: 150px">
         <img [src]="video.snippet.thumbnails.default.url"  style="width: 100%; height: 100px; object-fit: cover;" alt="" srcset="">
        
      </ion-card>
      <small class="mt-2 text-dark" style="line-height: 16px;">
        {{ video.snippet.title | shorten: 50: '...'}} 
          </small>       
      </div>
    </div>
  </div>       
</ion-list>

  <ion-list>
    <ion-item class="ion-no-padding" lines='none'>
        <p slot="start" class="font-weight-bold ml-2 text-dark">
         Messages
       </p>   
       <small class="text-primary" 
       (click)="navTo('UCftSxR1o6FH9YMCYPSuEquQ')" 
       slot="end">See all</small>
    </ion-item>
      

  <div class="slider">
    <div  class="slide" *ngFor="let video of SwimPlayList">
      
      <div class="container-image rounded" > 
        <img [src]="video.snippet.thumbnails.default.url"  alt="Snow" style="width:100%;height: 100%;object-fit: cover;">
        <div class="centered">
          <ion-icon name="play"></ion-icon>
         </div>
         <div class="top-left">
           <img [src]="video.snippet.thumbnails.default.url"
           style="height: 30px;width: 30px;border-radius: 30px; border: #e0e0e0 1px solid;" 
           class="" alt="" srcset="">
          <small class="text-muted"> 
            {{ video.snippet.channelTitle | shorten: 50: '...'}} 
           </small>
        </div>
         <div class="bottom-left">
           <small>
            {{ video.snippet.title | shorten: 50: '...'}} 
           </small>
         </div>
      </div>
      <!-- <div [routerLink]="['/subscription']"  style="width: 150px;">
        <ion-card  style="width: 150px;">
         <img src="assets/images/defaultimage.png"  style="height: 100px; object-fit: cover;" alt="" srcset="">
        
      </ion-card>
      <small class="mt-2 text-dark" style="line-height: 16px;">
        title of the message there is no message for now
          </small>       
      </div> -->
    </div>
  </div>    
  </ion-list>
  <!-- <ion-list>
    <ion-item lines='none'>
       <p class="font-weight-bold text-dark">
      Relationship
    </p>     
    </ion-item>

    <div class="ion-padding" class="slider">
      <div  class="slide" *ngFor="let item of [1,1,1,1,1,1,1]">
        <div [routerLink]="['/subscription']" routerLinkActive="router-link-active"  style="width: 150px;">
          <ion-card  style="width: 150px;">
           <img src="assets/images/defaultimage.png"  style="height: 100px; object-fit: cover;" alt="" srcset="">
          
        </ion-card>
        <small class="mt-2 text-dark" style="line-height: 16px;">
          title of the message there is no message for now
            </small>       
        </div>
      </div>
    </div>      
  </ion-list> -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="bubbles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
