<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title><small class="text-bold"> Devotional </small></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-margin">
    
    <h1 class="text-bold" 
    style="font-size: 50px;width: 90%;line-height: 40px;font-weight: bolder;">Faith is the key to your success</h1>
    <small>today</small>
  <br>
    <small class="text-muted">
      Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusamus eos aliquam voluptatibus voluptas odio autem dicta distinctio quaerat labore. Et explicabo porro provident? Tenetur, inventore officia. Ducimus, expedita cupiditate.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatum fuga, eaque placeat quia voluptates eveniet dolores deserunt, alias laboriosam fugiat libero architecto at dicta molestias, minima facilis autem corporis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quibusdam lao distinctio maxime, fugiat, id modi neque recusandae praesentium sed asperiores enim, vero amet quisquam ab.
      
    </small>

  </ion-list>
</ion-content>
