
<ion-header  class="ion-no-border  " no-border color="primary" >
  <ion-item  lines="none">  
  
   </ion-item>
</ion-header>


<ion-content>
   <ion-list>
  <div class="m-2">
    <app-mywallet ></app-mywallet> 
   </div>
   <!-- <ion-item lines=none>
    <small class="text-bold"> Messages</small>
    <small class="text-primary" slot="end"> See more</small>
 </ion-item> -->
<div class="text-center">
  <ion-spinner color="primary" name="crescent" *ngIf="notNetwork"></ion-spinner>
</div>
 <div class="slider">  
  <div class=" slide"  *ngFor="let video of playlist " (click)=" openVideo(video)" >
    <ion-card class="container-image">
      <img [src]="video.snippet.thumbnails.default.url"  alt="Snow" style="width:100%;height: 100%;object-fit: cover;">
      <div class="bottom-left ion-text-start">
         <small class="text-bold ">
          {{ video.snippet.title }} 
       </small>
        </div>
    </ion-card>
      </div>
    </div>
    <br>
    <div  class="count-down">
        <p class="title mb-2 mt-2">Next Service will start </p>
        <p class="timer">1:20 </p>
        <!-- <p class="label mt-1 mb-3">Service wil start soon</p> -->
         <button [routerLink]="['/tabs/service']" routerLinkActive="router-link-active"  class="btn btn-sm btn-primary m-2 mb-2 pl-2 pr-2">
          Go live Now
        </button>

    </div>


    <ion-item lines=none class="ion-no-padding">
      <ion-avatar slot="start" class="ml-2">
        <img src="assets/icon/map.svg" />
      </ion-avatar>
      <ion-label class="ml-2">
        <small class="text-muted" style="font-size: 10px;"> Find church </small>
        <p class="text-primary text-bold">Simply worship international  </p>
      </ion-label>
    </ion-item>
    <div class="container-image" [routerLink]="['/location']" routerLinkActive="router-link-active"  style="width: 95%;margin: auto; height: 200px;background-color: lightgrey;">
    <img style="width: 100%;height: 200px; object-fit: cover;" src="assets/images/GoogleMapTA@3x.jpg"  alt="" srcset="">
    <div class="centered">
      <small class="text-dark">
         see map 
    </small>
     </div>
    </div>
   <!--   <ion-card class='m-2'>
     <ion-item lines="none">
<div>
    <small>ero osamuyi</small>
   <p>Happy birthday</p>
  <small>
  Keep close to Nature's heart... and break clear away, once in awhile,
   and Wash your spirit clean.
      
  </small>    
   </div>
  </ion-item>
   </ion-card> -->


   <ion-list class=" animate fast fadeIn">
    <!-- <app-celebrationcard></app-celebrationcard> -->
    <br>
<ion-item lines='none'>
  <ion-avatar>
    <img src="assets/icon/devotion.svg" />
  </ion-avatar>
  <ion-label class="ml-2">
    <small class="text-muted" style="font-size: 10px;"> Church </small>
    <p class="text-primary text-bold">Devotional  </p>
  </ion-label>
</ion-item>
    <div class="slider">  
      <div class="  slide  mt-2 mb-2 "[routerLink]="['/devotion']"  style="width: 250px;" *ngFor="let item of [1, 1]">
        <ion-card class="container-image" style="width:250px" >
          <img src="assets/images/youtubebanner.jpeg"  alt="Snow" style="width:100%;height: 100%;object-fit: cover;">
         <div class="top-left ">
           
             <img style="height: 30px;width: 30px;border-radius: 30px; border: #e0e0e0 1px solid;"  src="assets/images/youtubebanner.jpeg"  />
           
           <small class="ml-2 text-bold">Devotional Name    </small>
         </div>
         <div class="top-right">
            <small class="text-muted">
             today
           </small>
         </div>
          <div class="bottom-left ion-text-start">
             <small class="text-bold ">
              Faith is the key to your success
           </small>
         
            </div>
        </ion-card>
          </div>
        </div>
</ion-list>








   <ion-item class="m-2"
   [routerLink]="['/giving']" 
   lines="none" style="
border: solid 1px#e0e0e0;
margin: 10px;
border-radius: 2px;
--ion-item-background: linear-gradient(2deg, #fefeff 29%, #f8f9fe 96%);">      
  <div class="mt-3 mb-3">
      <small class="text-muted ">Give</small>
      <p class="bold mb-1 mt-1" >Online payment</p>
    
      <button
       routerLink="/feature-profile" 
       routerLinkActive="active"
       class="btn btn-sm btn-primary p-1 mt-2 mb-2 pl-2 pr-2" 
       size="small">
        Get started
      </button> 
  </div>
      <img 
      slot="end"
       class="img-fluid rounded "
       style="height: 100px;"
       src="../../../assets/images/payment.svg" alt="" srcset="">  
  </ion-item>



 
   </ion-list>
   
    <!-- <ion-item lines=none>
      <p class="text-bold"> Top Post</p>
      <small class="text-primary" slot="end"> See more</small>
   </ion-item> -->
   <div class="twitter-card m-2">
    <div class="row-top">
      <div class="user-wrapper">
         <span class="user-image"></span>
         <div class="profile-user">
             <span class="user">Jane Doe</span>
             <span class="username">@JaneDoe_</span>
         </div>
      </div>
       <span class="follow ">Follow</span>
    </div>
    <p class="profile-bio">Geek, Chef, Connector of Awesomeness, Information Addict, Part-time dictator, full time foodie. I walk faster when I see a creepy van.</p>
    <div class="row-middle">
      <span class="profile-location">
        <i class="fas fa-map-marker-alt"></i>
        London, United Kingdom
      </span>
    
    </div>
    <div class="row-bottom">
      <span class="followers-count">
        Testimony
  <!--       <span class="count-meta">10K</span> -->
      </span>
    
      
    </div>
  </div>


<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    color="primary"
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner= "crescent"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    color='primary'
    loadingSpinner= "crescent"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

</ion-content>
