<!-- <app-header></app-header> -->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <ion-item lines="none">
    <small class="text-bold ml-3">Hi Muyi</small>
    <div slot="end" class="mr-3">
      <img src="assets/images/about.svg" 
      (click)="menu()"
      style="height: 20px; width: 25px;" alt="" srcset="">
    </div>    

  </ion-item> -->

  <div>
   
    <section class="stories">
      <div class="stories__single"   *ngFor="let user of onlineUsers"  >
        <div [routerLink]="['/tabs/profile', user.uid]" routerLinkActive="router-link-active"  class="stories__single__img-holder">
          <div class="stories__single__img-holder__inner" style="background-image: url({{user.userImage}});"></div>
        </div>
        <p class="stories__single__description">{{user.displayName | shorten: 8: '..'}}.</p>
      </div>
    </section>
    <br>
  </div>
  <div class="text-center">
    <div
    [routerLink]="['/tabs/community']" routerLinkActive="router-link-active" 
    class="alert alert-primary p-1 text-center" style="width: 40%;margin: auto;margin-bottom: 15px;" role="alert">
     Join community
    </div>
  </div>
  <div 
  style="
  background:#0D6EFD;
  height: 20px; 
  margin-top: 5px;
  border-radius: 15px 15px 0px 0px;"> 
  </div>


    <div   style="background: #0D6EFD;" color="primary" >
<ion-item lines='none' style=" --ion-item-background:#0D6EFD;">
  <div slot="start">
    
    <small class="text-light">Next Service will start </small>
    <p class="text-bold text-light">
      Today 1:20
    </p>
    
  </div>
  <button slot="end" 
  [routerLink]="['/tabs/service']" routerLinkActive="router-link-active" 
  class="btn btn-dark btn-sm p-1 mb-2 mt-2 mb-2 pl-2 pr-2"> Attend Serve</button>
</ion-item>
<br>
 <div 
 style="
 background:white;
 height: 15px; 
 /* margin-top: 5px; */
 border-radius: 15px 15px 0px 0px;">
   
 </div>
</div>

  

<ion-item lines=none>
  <small class="text-bold"> Trending</small>
  <small class="text-primary" [routerLink]="['/tabs/messsage']" routerLinkActive="router-link-active"  slot="end"> See more</small>
</ion-item>
<div class="text-center">
<ion-spinner color="primary" name="crescent" *ngIf="notNetwork"></ion-spinner>
</div>
<div class="slider">  
<div class=" slide animate__backInRight animate__animated animate__faster"  *ngFor="let video of playlist " (click)=" openVideo(video)" >
  <ion-card class="container-image">
    <img [src]="video.snippet.thumbnails.default.url"  alt="Snow" style="width:100%;height: 100%;object-fit: cover;">
    <div class="bottom-left ion-text-start">
       <small class="text-bold ">
        {{ video.snippet.title | shorten: 20: '..' }} 
     </small>
      </div>
  </ion-card>
    </div>
    <div 
    style="
    background:#0D6EFD;
    height: 15px; 
    /* margin-top: 5px; */
    border-radius: 15px 15px 0px 0px;"> 
    </div> 
  </div>
<br>
  <div   style="background:#0D6EFD;"no-border color="primary" >
  <br>
<ion-item lines='none' style=" --ion-item-background:#0D6EFD;">
  <div slot="start">
    <small class="text-light">Wallet Ballance</small>
    <p class="text-bold text-light"> 00.00 </p>
  </div>
  <button slot="end" class="btn btn-dark btn-sm p-1 mb-2 mt-2 mb-2 pl-2 pr-2"> Found wallet</button>
   
</ion-item>
<br>
 <div 
 style="
 background:white;
 height: 15px; 
 /* margin-top: 5px; */
 border-radius: 15px 15px 0px 0px;">
   
 </div>
</div>
    <!-- <app-celebrationcard></app-celebrationcard> -->
    


  <!-- <ion-item class="m-2" 
   [routerLink]="['/giving']" 
   lines="none" style="
border: solid 1px#e0e0e0;
margin: 10px;
border-radius: 2px;
--ion-item-background: linear-gradient(2deg, #fefeff 29%, #f8f9fe 96%);">      
  <div class="mt-3 mb-3">
      <small class="text-muted ">Give</small>
      <p class="bold mb-1 mt-1" >Online payment</p>
      <button
       routerLink="/feature-profile" 
       routerLinkActive="active"
       class="btn btn-sm btn-primary p-1 mt-2 mb-2 pl-2 pr-2" 
       size="small">
        Get started
      </button> 
  </div>
      <img 
      slot="end"
       class="img-fluid rounded "
       style="height: 100px;"
       src="../../../assets/images/payment.svg" alt="" srcset="">  
  </ion-item> -->
  

    <!-- <ion-item lines=none>
      <p class="text-bold"> Top Post</p>
      <small class="text-primary" slot="end"> See more</small>
   </ion-item> -->
   
  <!-- <div class="text-center">
  <ion-spinner color="primary" name="crescent" *ngIf="testimonies == 0"></ion-spinner>
  </div> -->
   <!-- <div class="slider">  
    <div class=" slide"  *ngFor="let testimony of testimonies"  >
      <div class="twitter-card">
        <div class="row-top">
          <div class="user-wrapper">
             <span class="user-image" 
             style="background-image: url({{testimony.authorimage}});"
             ></span>
             <div class="profile-user">
                 <span class="user">{{testimony.author}}</span>
                 <span class="username">@{{testimony.author}}</span>
             </div>
          </div>
           <span class="follow ">Testimony</span>
        </div>
        <small class="profile-bio">
          {{testimony.content}}
        </small>
      </div>
        </div>
      </div> -->


<!-- <div> -->
  <br>
<div>
  <p class="text-primary ml-3">Upcoming Programe</p>
  <ion-card class="m-3" style="height: 200px;">
  <img src="assets/homeicon/churchprograme.jpg" alt="" srcset="">
  </ion-card>
</div>
  
<br>
  <ion-row >
    <ion-col *ngFor="let main of navigate" size="4" >
      <ion-card [routerLink]="main.url"  routerLinkActive="router-link-active"  class="my-card">
        <img src="{{main.icon}}" alt="" srcset="">
        <small class="text-muted mb-4">{{main.title }}</small>
      </ion-card>
    </ion-col>
   
  </ion-row>
  <br>

 


<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    color="primary"
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner= "crescent"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>

<!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    color='primary'
    loadingSpinner= "crescent"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

</ion-content>
