<ion-header>
  <ion-toolbar>
    <ion-icon slot="end" class="ion-margin" name="close" (click)="close()" ></ion-icon>
    <ion-title><small class="text-primary">  Feedback and complaints </small> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="m-3">
    <small>
      Kindly enter your Feedback or complaints here, our 
team will jump on it asap!
    </small>
    <input class="form-control mt-2" type="text" name="">
    <div class="mt-3 text-center">
       <button class="btn btn-primary btn-sm mr-3 pl-4 pr-4" (click)="close()"  type="button">Send</button>
    </div>
    
  </div>
</ion-content>
