*{
    padding: 0px;
    margin: 0px;
}
.top-box{
    margin: 2%;
    
    .title{
        font-weight: bolder;
        font-size: large;
        color: black;
    }
  
    .text-bold{
        font-weight: bold;
    }
}  
.btn-round {
        border-radius: 60px;
        font-weight: bolder;
    }

.icon{
    height: 35px;
    width: 35px;
}


