*{
    padding: 0px;
    margin: 0px;
}
.top-box{
    margin: 2%;
    
    .title{
        font-weight: bolder;
        font-size: medium;
        color: black;
    }
    .btn-round{
        border-radius: 30px;
    }
    .text-bold{
        font-weight: bold;
    }
}