<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list lines=none> 
      
        <div class="text-center">
          <small>
        Wallet balance
      </small>
   <h1 class="title  mt-2 mb-2">
      $0000
   </h1>
  <div class="text-center pl-4 row">
  
   <div class="alert alert-primary ml-5 mr-2 text-center pt-1 pb-1" style="width: 100px;" [routerLink]="['/giving']" role="alert">
     <strong>Give</strong>
  </div>  
   
  <div class="alert alert-primary text-center pt-1 pb-1" style="width: 100px;" [routerLink]="['/founding']" role="alert">
    <strong>Found</strong>
 </div>
  </div>
     
        </div>
  <br>

       <ion-item  style="
       border: solid 1px#e0e0e0;
       margin: 10px;
       border-radius: 2px;
       --ion-item-background: linear-gradient(2deg, #fefeff 29%, #f8f9fe 96%);">
         <ion-label class="ml-2">
      <small>
        Subcription
    </small> 
      <p class="text-bold  text-dark title">
      No subcription
   </p>
  </ion-label>   
  
  <button slot="end"  [routerLink]="['/founding']" routerLinkActive="router-link-active"  
  class="btn btn-primary btn-sm pl-3 pr-3  p-1" >
  Upgrade
</button> 
       </ion-item>
      <ion-item>
        <ion-label>
          <small> Trascation history</small>
        </ion-label>
      </ion-item>
      <ion-item>
        <div>
          <small class="text-muted">
            Credit
          </small>
          <p>
          2000
          </p>       
        </div>
        <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-item>
  </ion-list>
 
</ion-content>