
  <ion-list lines=none> 
    <ion-item class="service-card animate__animated animate__bounceIn animate__faster"> 
      <img class="img-fluid " src="../../../assets//images//wallet.svg" alt="" srcset="">
      <ion-label style="margin-left: 10px;">
          <ion-card-subtitle class="subtitle">My account Balance</ion-card-subtitle>
          <ion-title class="title">N000</ion-title>  
       </ion-label>
    </ion-item>  
  
       <ion-button  expand="block" [routerLink]="['/founding']" routerLinkActive="router-link-active"  class="ion-margin" style="margin: 13px;">
         Found Wallet
       </ion-button>
      
  </ion-list>
 
