<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/service"></ion-back-button>
    </ion-buttons>
    <ion-title><small>Testimony</small> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-card-header>
<ion-card-title><p>ero osamuyi</p></ion-card-title>
<ion-card-subtitle><small>2mini</small></ion-card-subtitle>
</ion-card-header>

<ion-card-content>
Keep close to Nature's heart... and break clear away, once in awhile,
and climb a mountain or spend a week in the woods. Wash your spirit clean.
</ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar >
    <ion-item>
    <ion-item lines=none slot="start">
    <ion-label position="floating">Give your Testimony</ion-label>
    <ion-textarea></ion-textarea>
    </ion-item>
    
    <ion-fab slot="end" >
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </ion-item>

  </ion-toolbar>
</ion-footer>