<ion-header class="ion-no-border">

</ion-header>
<ion-content>
  <br><br>
  
  <!-- <ion-segment    (ionChange)="segmentChanged($event)" [(ngModel)]="segment" color="primary">  
    <ion-segment-button  class="segment-slack" value="0">  
      <small class="text-bold">Home</small>  
    </ion-segment-button>  
    <ion-segment-button  class="segment-instagram" value="1">  
      <small class="text-bold">friends</small>  
    </ion-segment-button>  
    <ion-segment-button  class="segment-instagram"  value="2">  
      <small class="text-bold">Search</small>  
    </ion-segment-button>  
  </ion-segment>  
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">  
    <ion-slide> -->

  
<ion-list class="my-card animate fast fadeIn">

  <ion-item lines="none">
  
      <h5 class="text-bold text-primary"slot="start">
        Community
      </h5>
    <!-- <small slot="end" routerLinkActive="router-link-active" >
          <ion-icon name="search"></ion-icon>
    </small> -->
  </ion-item>
  <ion-searchbar  [routerLink]="['/search']"style="border-radius: 20px !important;" id="nav-search" type="text"  placeholder="Search users"  >  </ion-searchbar>
  <!-- <div class="slider" style="width: 350px;">  
    <div class=" slide "  *ngFor="let user of onlineUsers" >
      <div class="text-center">
        <ion-avatar style="height: 50px;width: 50px;margin-left: 10px;border: #6495ED 2px solid;">
          <img src={{user.userImage}} alt="Snow" style="width:100%;height: 100%;object-fit: cover;">
        </ion-avatar>
         <small class="text-dark">{{user.displayName}}</small>
      </div>
      </div>
    </div> -->
    
  <div class="m-2"  *ngFor="let post of allPost"> 
    <ion-item size="2" lines="none" class="ion-no-padding ion-no-margin">
        <ion-avatar>
           <img src={{post.authorimage}}  alt="Snow">
        </ion-avatar>   
        <ion-label class=" ml-2" > 
         <p class="mt-1" style="margin-bottom: -5px;color: black;font-weight: 600;">{{post.author}}</p>
         <small class="small-text text-muted" style="font-size: 10px;">{{post.createdDate}} </small>  
      </ion-label>
    </ion-item>
 
     <div >
        <img src={{post.photo}}  *ngIf="post.photo" class="post-image mt-2 mb-2" alt="" srcset="">
        <small class="mr-2 mb-2 font-weight-light"> 
         {{post.content}}
        </small>
     </div>
  
   <div class= "my-card-footer  mt-2">
      <div (click)=" likePost(post)" class="animated fast fadeInDown">
        <img  class="icon" src="assets/icon/like.png" alt="" srcset="">
          <small  > {{post.likes}} </small> 
      </div>
        <div class="animated  fadeInDown">
          <img class="icon" src="assets/icon/dislike.png" alt="" srcset="">
            <small >Dislike {{post.views}}</small>
        </div>
        <div class="animated faster fadeInDown"[routerLink]="[ '/comment', post.commentId ]">
          <img  class="icon" src="assets/icon/live.svg" alt="" srcset="">
          <small> Comment  </small>
        </div>
     </div>
    </div>
</ion-list>
    <!-- </ion-slide>  
    <ion-slide> -->
   
    <!-- </ion-slide>  
    <ion-slide > -->
       <!-- <ion-list style="width: 100%;">
         <app-search></app-search>       
      </ion-list> -->
    <!-- </ion-slide>  
  </ion-slides>    -->
  
<!-- feature profile will go in here  -->

<ion-fab vertical="bottom" [routerLink]="['/makepost']" routerLinkActive="router-link-active"  horizontal="end" slot="fixed">
  <ion-fab-button>
    <img src="assets/icon/live.svg" alt="" srcset="">
  </ion-fab-button>
</ion-fab>
</ion-content>