
<ion-content>

      <ion-item lines='none' class="ion-no-padding ion-no-margin">
        
         <p class="text-bold ml-3 text-dark"slot="start">
           Community
         </p>
        <small slot="end"  >
            <ion-icon color="primary" [routerLink]="['/search']" name='search' >  </ion-icon>
       
        </small>
    
      </ion-item>
      <div style="background-color: rgba(0, 0, 255, 0.048);">
        <div 
 style="
 background:white;
 height: 15px; 
 /* margin-top: 5px; */
 border-radius: 0px 0px 10px 10px;">
   
 </div>
      <section class="stories">
        <div class="stories__single mt-3 mb-3"   *ngFor="let user of onlineUsers"  >
          <div [routerLink]="['/tabs/profile', user.uid]" routerLinkActive="router-link-active"  class="stories__single__img-holder">
            <div class="stories__single__img-holder__inner" style="background-image: url({{user.userImage}});"></div>
          </div>
          <p class="stories__single__description">{{user.displayName | shorten: 8: '..'}}.</p>
        </div>
      </section>
      <div 
 style="
 background:white;
 height: 15px; 
 /* margin-top: 5px; */
 border-radius: 15px 15px 0px 0px;">
   
 </div>
      </div>
      <div *ngIf="allPost == 0 " class="text-center">
        <img src="assets/icon/sad-face.svg" style="
        height: 150px;
        width: 150px;
        margin-top: 70px;
        " alt="" srcset="">
         <p class="mt-4 text-muted">can not get post right now</p>
         <small class="text-primary">Check your network</small>
        <!-- <ion-spinner name="crescent" color="primary"></ion-spinner> -->
      </div>
<div>


   <div class="twitter-card  " *ngFor="let post of allPost">
    <div class="row-top">
      <div class="user-wrapper">
         <span class="user-image" style="  background-image: url({{post.authorimage}}  )"></span>
         <div class="profile-user">
             <span class="user"> {{post.author}}</span>
             <span class="username">@{{post.author | trim }}</span>
         </div>
      </div>
       <!-- <span class="follow ">View</span> -->
    </div>
    
    <img src={{post.photo}}  *ngIf="post.photo"  class="post-image" alt="" srcset="">
    <!-- <div class="row-middle mt-2 mb-2">
      <ion-icon  style="zoom:1.0;"  name="heart-outline"></ion-icon>  
    </div> -->
    <small class="profile-bio">
      {{post.content}}.</small>

    <div class="row-middle">
      <span class="profile-location mt-1 text-small">
        <i class="fas fa-map-marker-alt"></i>
        {{post.createdDate  }} 
      </span>
    
    </div>
    <div class="row-bottom">
      <ion-avatar style="height: 20px;width: 20px;">
        <img [src]="currentUserImage" />
      </ion-avatar>
      <span class="followers-count" [routerLink]="[ '/comment', post.commentId ]">
        comment
  <!--       <span class="count-meta">10K</span> -->
      </span>
    
      
    </div>
  </div>
</div>

     
  
<ion-list class="my-card animate fast fadeIn">

      <!-- <h6 class="text-bold ml-2 text-primary"slot="start">
        Community
      </h6> -->
    <!-- <small slot="end" routerLinkActive="router-link-active" >
          <ion-icon name="search"></ion-icon>
    </small> -->
 
  <!-- <div class="slider" style="width: 350px;">  
    <div class=" slide "  *ngFor="let user of onlineUsers" >
      <div class="text-center">
        <ion-avatar style="height: 50px;width: 50px;margin-left: 10px;border: #6495ED 2px solid;">
          <img src={{user.userImage}} alt="Snow" style="width:100%;height: 100%;object-fit: cover;">
        </ion-avatar>
         <small class="text-dark">{{user.displayName}}</small>
      </div><ion-item class="ion-no-padding ion-no-margin">
   <ion-label>
    <h6 class="text-bold ml-2 text-primary"slot="start">
      Community
    </h6>
   </ion-label>
   <ion-icon slot="end" [routerLink]="['/search']" name='search' >  </ion-icon>

 </ion-item>
      </div>
    </div> -->
    
  <!-- <div class="m-2"  *ngFor="let post of allPost" > 
    <ion-item size="2" lines="none" class="ion-no-padding ion-no-margin">
        <ion-avatar>
           <img src={{post.authorimage}}  alt="Snow">
        </ion-avatar>   
        <ion-label class=" ml-2" > 
         <p class="mt-1" style="margin-bottom: -5px;color: black;font-weight: 600;">{{post.author}}</p>
         <small class="small-text text-muted" style="font-size: 10px;">{{post.createdDate}} </small>  
      </ion-label>
    </ion-item>
 
     <div >
        <img src={{post.photo}}  *ngIf="post.photo" class="post-image mt-2 mb-2" alt="" srcset="">
        <small class="mr-2 mb-2 font-weight-light"> 
         {{post.content}}
        </small>
     </div>
  
   <div class= "my-card-footer  mt-2">
      <div (click)=" likePost(post)" class="animated fast fadeInDown">
        <img  class="icon" src="assets/icon/like.png" alt="" srcset="">
          <small  > {{post.likes}} </small> 
      </div>
        <div class="animated  fadeInDown">
          <img class="icon" src="assets/icon/dislike.png" alt="" srcset="">
            <small >Dislike {{post.views}}</small>
        </div>
        <div class="animated faster fadeInDown"[routerLink]="[ '/comment', post.commentId ]">
          <img  class="icon" src="assets/icon/live.svg" alt="" srcset="">
          <small> Comment  </small>
        </div>
     </div>
    </div> -->
</ion-list>
    <!-- </ion-slide>  
    <ion-slide> -->
   
    <!-- </ion-slide>  
    <ion-slide > -->
       <!-- <ion-list style="width: 100%;">
         <app-search></app-search>       
      </ion-list> -->
    <!-- </ion-slide>  
  </ion-slides>    -->
  
<!-- feature profile will go in here  -->

<ion-fab vertical="bottom" [routerLink]="['/makepost']" routerLinkActive="router-link-active"  horizontal="end" slot="fixed">
  <ion-fab-button>
    <img src="assets/icon/live.svg" alt="" srcset="">
  </ion-fab-button>
</ion-fab>
</ion-content>