
<ion-content>
<ion-list lines="none">
    <ion-item (click)="navAbout()">
       
         <small class="text-bold">About us</small>
       
    </ion-item>
    <ion-item (click)="feedBack()">
      <!-- <img src="../../../assets//images//f" class="icon" alt="" srcset=""> -->
      
        <small class="text-bold">Feed back</small>
     
    </ion-item>
    <ion-item (click)="navSetting()">
      <!-- <img src="../../../assets//images//f" class="icon" alt="" srcset=""> -->
    
        <small class="text-bold">Setting</small>
     
    </ion-item>
    <!-- <ion-item>
     
        <small class="text-bold">Contact Us</small>
     
    </ion-item> -->
    <ion-item (click)="logout()">
     
      <small class="text-bold">Log out</small>
   
  </ion-item>
</ion-list>
</ion-content>
