<ion-slides mode="md" pager="md" scrollbar="md">
  <ion-slide >
    <ion-card class="gift-card" color="primary">
      <p>Happy birth</p>
      <small class="text-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sit.
      </small>
      <p>ero osamuyi</p>
    </ion-card>
  </ion-slide>
  <ion-slide >
    <ion-card class="gift-card" color="primary">
      <p class="text-bold">Happy birth</p>
      <small class="text-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sit.
      </small>
      <p class="text-bold">ero osamuyi</p>
    </ion-card>
  </ion-slide>
</ion-slides>